.bg-green {
    background-color: #050;
}

.text-green {
    color: #050;
}

.bg-grey {
    background-color: #c2c2c2;
}

.carousel-height {
    min-height: 200px;
}

.hidden {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 2s ease;
}

.visible {
    opacity: 1;
    transform: translateX(0);
}

.slide-right {
    animation: slideRight 2s ease;
}

.slide-left {
    animation: slideLeft 2s ease;
}

.navigation-element {
    font-size: 24px;
}

#navi {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.7);
}

#resume-img {
    width: 500px;
    border-radius: 60px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
}

#conti-img {
    width: 80%;
    border-radius: 60px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
}

#freelance-img {
    width: 80%;
    border-radius: 60px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
}

#generatia-img {
    width: 80%;
    border-radius: 60px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teko-bold-name {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 70px;
    font-style: normal;

}

.w-25{
    width: 25%;
}

.teko-bold {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 70px;
    font-style: normal;

}

.teko-thin {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
}

.font-bigger {
    font-size: 50px;
}

#contact-me-btn {
    border-width: 2px;
}

.shorten-width {
    width: 70%;
}

@keyframes slideRight {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(100px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media only screen and (min-width: 992px) {
    .form-box {
        width: 50%;
        text-align: center;
    }
}