.bg-green {
    background-color: #050;
}

.navigation-element {
    font-size: 24px;
}

#resume-img {
    width: 500px;
    border-radius: 60px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
}

#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teko-bold {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 70px;
    font-style: normal;

}

.teko-thin {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: normal;
}