<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav id="navi" class="navbar navbar-expand-sm sticky-top bg-green">

        <div class="container pb-1">
            <ul class="navbar-nav">
                <li class="nav-item m-1 navigation-element">
                    <a class="nav-link text-white" href="#"><i class="bi bi-house"></i>Acasa</a>
                </li>
                <li class="nav-item m-1 navigation-element">
                    <a class="nav-link text-white" href="/portofolio">Portofoliu</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item m-1">
                    <button class="btn btn-dark btn-lg" id="resume" onclick="window.location.href='/download-resume'">Descarca Rezumat<i
                            class="bi bi-cloud-download"></i></button>
                </li>
                <li class="nav-item m-1 navigation-element">
                    <div class="dropdown">
                        <a class="nav-link text-white" href="#" data-bs-toggle="dropdown">RO</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/">EN</a></li>
                            <li><a class="dropdown-item" href="#">RO</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

    </nav>
    <div id="section-intro" class="container mt-5 mb-5">
        <div class="row">
            <div id="intro" class="col-12 col-md-6 slide-right justify-content-center">
                <h1 class="teko-bold-name">Spatar Sergiu</h1>
                <h3 class="teko-thin mb-3">Dezvoltator Software Fullstack pentru proiectele tale</h3>
                <!--<h5 class="teko-thin">I am a fullstack software developer with a passion for creating innovative and
                    efficient solutions. I have experience in various technologies and frameworks, and I am always
                    eager to learn and adapt to new challenges.</h5>
                -->
                <button id="contact-me-btn" class="btn btn-outline-dark btn-lg"
                    onclick="location.href='#contact-section'">Contacteaza-ma</button>
            </div>
            <div id="img-div" class="col-12 col-md-6 slide-left">
                <img id="resume-img" src="images/resume-photo.jpg" alt="Resume photo" class="img-fluid mt-4 mb-3">
            </div>
        </div>
    </div>
    <div class="bg-green">
        <div id="section-about-me" class="container pt-5 pb-5">
            <div class="row mt-5">
                <div class="col-12 col-md-8 hidden">
                    <h2 class="teko-bold text-white">Despre mine</h2>
                    <p class="text-white">Sunt un dezvoltator web profesionist cu peste 8 ani de experiență
                         în proiectarea și construirea de pagini de destinație, site-uri web și interfețe pentru aplicații software. 
                        Expertiza mea acoperă o gamă diversă de companii, de la startup-uri inovatoare la corporații mari.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="section-skills" class="container pt-5 pb-5 hidden">
        <h2 class="teko-bold">Abilitatile mele</h2>
        <div class="row mt-4">
            <div class="col-12 col-md-6">
                <h2 class="text-green teko-thin font-bigger">Dezvoltare Front-end</h3>
                    <p class="shorten-width">Am o stăpânire solidă a dezvoltării Front-End, cu un background
                         puternic în tehnologiile web cheie precum HTML, CSS (Bootstrap) și JavaScript (ReactJS). Aceasta îmi permite
                         să lucrez cu orice framework JavaScript modern pentru a construi aplicații interactive și vizual atractive.
                    </p>
            </div>
            <div class="col-12 col-md-6">
                <h2 class="text-green teko-thin font-bigger">Dezvoltare Back-end</h3>
                    <p class="shorten-width">Pe partea de back-end, am experiență cu Node.js și Express, construind aplicații server rapide și scalabile. 
                        Folosesc Postman pentru dezvoltarea și testarea eficientă a API-urilor, asigurând servicii web fiabile și bine structurate.
                    </p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-md-6">
                <h2 class="text-green teko-thin font-bigger">Integrare API</h3>
                    <p class="shorten-width">Sunt priceput în integrarea API-urilor terțe pentru a adăuga
                         funcționalități puternice aplicațiilor web. Fie că lucrez cu API-uri RESTful sau gestionez date JSON,
                         mă asigur de o comunicare fluentă și sigură între front-end și serviciile externe.
                    </p>
            </div>
            <div class="col-12 col-md-6">
                <h2 class="text-green teko-thin font-bigger">Control Versionare</h3>
                    <p class="shorten-width">Folosesc Git și GitHub pentru controlul versiunilor, 
                        permițând colaborarea eficientă, gestionarea codului și urmărirea proiectelor. 
                        Mă descurc cu fluxuri de lucru precum ramificarea, solicitările de pull și menținerea de depozite curate și organizate.
                    </p>
            </div>
        </div>
    </div>
    <div class="bg-green">
        <div id="section-experience" class="pt-5 pb-5 hidden">
            <div class="container">
                <h1 class="teko-bold text-white pb-3">Experienta de lucru</h1>
            </div>
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="d-flex flex-column col-8 ps-5">
                                    <h3 class="text-white">Software Tester Engineer</h3>
                                    <p class="text-white shorten-width">Am început cariera mea la Aumovio Timisoara. 
                                        Rolul pe care l-am avut în primul meu proiect aici a fost de tester software pentru camerele de bord pentru camioane.
                                         Această cameră trebuia să fie conectată la ECU-ul principal al camionului și
                                         software-ul camerei trebuia să obțină imagini cu diferite semne de circulație, 
                                        să le recunoască și să trimită unele semnale către ECU-ul principal.</p>
                                    <i class="text-white">Perioada: Noi. 2021 - Prezent</i>
                                </div>
                                <div class="d-flex align-items-center col-4"><img id="conti-img" src="images/aumovio.jpg"
                                        class="img-fluid" alt="Conti logo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="d-flex flex-column col-8 ps-5">
                                    <h3 class="text-white">Dezvoltator Frontend</h3>
                                    <p class="text-white shorten-width">Am lucrat ca freelancer, specializându-mă în dezvoltare web,
                                         unde am ajutat diverși clienți individuali cu pagini de aterizare și site-uri web.
                                         Am dezvoltat interfețe folosind JS și React utilizând componente, 
                                        props și hooks pentru a actualiza pagina la cererea clientului într-un mod frumos.</p>
                                    <i class="text-white">Perioada: Iul. 2023 - Prezent</i>
                                </div>
                                <div class="d-flex align-items-center col-4"><img id="freelance-img"
                                        src="images/freelance.jpeg" class="img-fluid" alt="Freelance logo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="d-flex flex-column col-8 ps-5">
                                    <h3 class="text-white">Explorator JavaScript</h3>
                                    <p class="text-white shorten-width">
                                        Mi-am consolidat cunoștințele fundamentale despre Javascript. 
                                        Sarcinile mele au fost de la crearea de noi componente React până la transformarea codului sincron în asincron.
                                         Și în backend am învățat cum să lucrez cu comunicarea API de vreme.
                                    </p>
                                    <i class="text-white">Perioada: Mai 2025 - Sept. 2025</i>
                                </div>
                                <div class="d-flex align-items-center col-4"><img id="generatia-img"
                                        src="images/OIP.jpg" class="img-fluid" alt="Generatia tech logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon justify-content-left" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon justify-content-right" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    <div class="bg-grey">
        <div id="contact-section" class="container pt-5 pb-5 hidden">
            <div class="form-container d-flex justify-content-center">
                <div class="form-box">
                    <h3>Contacteaza-ma cu un scurt email.</h3>
                    <form action="/submit" method="post" class="needs-validation">
                        <div class="mt-3 input-group">
                            <span class="input-group-text">E-mail</span>
                            <input type="text" name="email" aria-label="E-mail" class="form-control">
                        </div>
                        <div class="mt-3 mb-3">
                            <div class="d-flex justify-content-center">
                                <label for="exampleFormControlTextarea1" class="form-label">Mesaj catre mine:</label>
                            </div>
                            <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="3"></textarea>
                        </div>
                        <div class="d-flex justify-content-center"><button type="submit" class="mt-3 btn btn-primary btn-block">Trimite</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="successModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="border-radius: 15px;">
                <div class="modal-header bg-success text-white">
                    <h5 class="modal-title">Mesaj trimis!</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Multumesc pentru mesaj! Voi reveni cat de curand.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/anim.js"></script>
    <script src="index.js" async></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/scripts/functionalities.js"></script>
</body>
</html>