<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teko:wght@300..700&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="style/main.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <nav id="navi" class="navbar navbar-expand-sm sticky-top bg-green">

            <div class="container pb-1">
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar"
                    aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav">
                    <li class="nav-item m-1 navigation-element">
                        <a class="nav-link text-white" href="/"><i class="bi bi-house"></i>Home</a>
                    </li>
                    <li class="nav-item m-1 navigation-element">
                        <a class="nav-link text-white" href="#">Portofolio</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item m-1">
                        <button class="btn btn-dark btn-lg" id="resume" onclick="window.location.href='/download-resume'">Download Resume <i
                                class="bi bi-cloud-download"></i></button>
                    </li>
                    <li class="nav-item m-1 navigation-element">
                        <div class="dropdown">
                            <a class="nav-link text-white" href="#" data-bs-toggle="dropdown">EN</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">EN</a></li>
                                <li><a class="dropdown-item" href="#">RO</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>
        <div class="container hidden">
            <h1 class="teko-bold pt-5">Live websites:</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="card shadow-lg border-0 mb-4" style="border-radius:20px;">
                        <div class="d-flex justify-content-center">
                            <div class="w-25 pt-2"><img src="/images/crowdFund.jpg" 
                            class="card-img-top"
                            height="100px" 
                            alt="Crowd Fund App Preview"
                            style="border-radius: 50%">
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="card-title teko-bold">Crowd Funding Platform</h3>
                            <p class="card-text">
                                A modern and intuitive decentralised web application that allows users to create campaigns,
                                donate securely with the help of blackchain technology, and track funding progress in real time.
                                 Built using <b>Next.js</b>, <b>Solidity</b>, <b>Node.js</b>, <b>Express.js</b> and <b>Bootstrap</b>.
                            </p>
                            <a href="https://crowd-fund-kappa.vercel.app/" 
                            target="_blank" 
                            class="btn btn-dark btn-lg w-100"
                            style="border-radius: 12px;">
                                Visit Website <i class="bi bi-box-arrow-up-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-8"></div>
            </div>
        </div>
        
        <script src="/scripts/anim.js"></script>
        <script src="index.js" async></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>